:root {
    --light: rgb(219, 179, 140);
  --dark: rgb(112, 84, 56);
  --warm: rgb(253, 213, 153);
  --blk: rgb(59, 58, 57);
}

body {
   background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1000px;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 45px;
    text-decoration: underline;
    color: black;
    font-size: 60px;
}

.us {
    text-align: center;
}

.photos {
    border-radius: 50%;
    width: 300px;
    height: auto;
}

a {
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
    color: black;
}

#subtitle {
    font-size: 40px;
    margin-bottom: 100px;
}
