body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(120deg,#E16173, #116173);
    height: 100vh;
    overflow: hidden;
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
} 
h1 {
text-align: center;
padding: 0 0 40px 0;
border-bottom: 1px solid silver;
color: #116173;
}
.card form{
    padding: 0 30px;
    box-sizing: border-box;
}
form .input-group{
    position: relative;
    border-bottom: 2px solid #E16173;
    margin: 30px 0;
} 
.input-group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}
.input-group label{
    position: absolute;
    top: 59%;
    left: 5px;
    color: #116173 ;
    font-size: 20px;
}
.input-group span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: none;
}

input[type="text"]{
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    background: white;
    color: #E16173;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
input[type="text"]:hover{
    border-color: #E16173;
    transition: 0.5s;
}
input[type="password"]{
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    background: white;
    color: #E16173;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
input[type="password"]:hover{
    border-color: #E16173;
    transition: 0.5s;
}
#sign-up{
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color:#E16173;
}
#sign-in:hover {
    text-decoration: underline;
    cursor: pointer;
}
.quote-element {
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}  
.author-element {
    display: block;
    text-align: center;
    font-weight: bold;
}