* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  --light: rgb(189, 127, 64);
  --dark: rgb(112, 84, 56);
  --warm: rgb(253, 213, 153);
  --blk: rgb(59, 58, 57);
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("https://www.nawpic.com/media/2020/gym-nawpic.webp");
  object-fit: repeat;
  background-repeat: repeat;
  background-attachment: fixed;
}

p {
  color: var(--light);
  text-shadow: 2px 2px 3px rgb(117, 56, 3, 1);
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  
}

.top-bar {
  background-color: var(--blk);
  font-family: monospace, sans-serif;
  color: var(--warm);
}

.top-bar .top-bar-left {
  max-width: fit-content;
  color: var(--light);
  font-weight: bold;
  font-family: monospace, sans-serif;
}

.top-bar .top-bar-right {
    margin-top: auto;
}

HEAD
.workout-cards {
    height: 100vh;
    width: 100%;
    background-image: url(grynd-app/assets/img/workout-cards-background.jpg);
    background-size:100%;
    background-position: center;
}

#ig {
    margin-top: 7.5px;
}


.button {
  background-color: var(--light);
  color: white;
}

.button:hover {
  background-color: var(--dark);
  transition: 0.5s ease-in;
}

#form-group {
  background-color: rbga(200, 50, 125, 0.4);
  color: var(--dark);
}

.workoutText {
  color: var(--light);
  font-weight: bolder;
  font-size: 1.1rem;
}

.weekDay {
  background-color: var(--light);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  cursor: pointer;
}

.weekDay:hover {
  background-color: var(--dark);
  transition: 0.5s ease-in;
}

#cardBtn {
  margin: 5px 60px;
  padding: 5px 45px;
  font-weight: bold;
  font-size: 1rem;
}

.card-divider {
  background-color: var(--blk);
}

.card-section {
  background-color: var(--blk);
  color: var(--blk);
  border: 1px solid (--blk);
  /* max-width: min-content;
  max-height: fit-content; */
}
