* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

#form-group {
    background-color: #e6e6e6;
}

.top-bar .top-bar-left {
    max-width: fit-content;
}

.top-bar .top-bar-right {
    margin-top: auto;
}

.workout-cards {
    height: 100vh;
    width: 100%;
    background-image: url(grynd-app/assets/img/workout-cards-background.jpg);
    background-size:100%;
    background-position: center;
}